
  
<div class="center" [ngStyle]="{'background-color':'white', 'width':'1200px', 'height':'200px', 'justify-content':'center'}">
         
    <form  [formGroup]="loginForm" (submit)="welcome()" ngNativeValidate>
      <input type="text" name="empName" (keypress)="keyPressChars($event)" formControlName="name" placeholder="Enter Your Name" required><br>
        <mat-form-field class="example-full-width" appearance="fill" ngNativeValidate>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [min]="todayDate"  required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <br>
        <input type="text"  maxlength="14" name="empAccno"  formControlName="acc_no" placeholder="Enter Your AccountNo" (keypress)="keyPressNumbers($event)" required>
        <button type="submit" (click)="sendAccNo()">Submit</button>
    </form>
    </div>